<div class="container">
	<h1> Welcome to Blackjack Web App! </h1>

	<h4>You have EUR <%= session[:player].amount %>. Bet amount:</h4>
	<form action="/bet" method="post">
	  <input type="text" name="bet"/>
	  <input type="submit" class="btn btn-primary"/>
	</form>
</div>