<!DOCTYPE html>
<html>
  <head>
    <title>My First Web App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">New Round</a></li>
              <li><a href="/quit">Quit</a></li>
              <li><%if @error %>
                <div class="alert alert-error"><%=@error%></div>
              <% end %>
            </ul>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
