<h1> Welcome to Blackjack Web App! </h1>

<form action="/set_player_name" method="post">
  <label>Your name:</label>
  <input type="text" name="playername" placeholder="John Doe"/>
  <input type="submit" class="btn"/>
</form>