<div class="container">
	<h1> Welcome to Blackjack Web App! </h1>

	<h3>What's your name:</h3>
	<form action="/set_player_name" method="post">
	  <input type="text" name="player_name" placeholder="John Doe"/>
	  <input type="submit" class="btn btn-primary"/>
	</form>
</div>